<aside class="sidebar">
  <ul class="menu-items">
    <li onclick="location.href='../transacoes/transacoes.html'">Transações</li>
    <li onclick="location.href='../educacaoFinanceira/educacaoFinanceira.html'">Educação Financeira</li>
    <li onclick="location.href='../orcamento/orcamento.html'">Orçamento</li>
    <li onclick="location.href='../contas/contas.html'">Contas e Boletos</li>
    <li onclick="location.href='../graficos/graficos.html'">Gráficos</li>
    <li onclick="location.href='../metas/metas.html'">Metas</li>
  </ul>
</aside>
